<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
</head>
<body>
    <form action="/tasks" method="POST">
        <label for="task"> What are you going to do? </label>
        <input type="text" id="task" name="task">
        <button> ADD </button>
    </form>
</body>
</html>