<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/addtask.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <title>Add Task</title>
</head>
<body>
    <div class="container mb-3">
        <form action="/tasks" method="POST">
            <label for="task"> <b>What are you going to do?<b> </label>
            <input class="form-control" type="text" id="task" name="task">
            <button class="btn btn-success"> ADD </button>
        </form>
    </div>
</body>
</html>