<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascipt" src="/js/compressed_jquery.js"></script>
    <script type="text/javascipt" src="/js/bootstrap.min.js"></script>

    <title>Document</title>
</head>
<body>
    <h1>HOMEPAGE!</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, est. Aliquid sit voluptatum ad officiis minus, in necessitatibus sunt asperiores neque quo. Laboriosam at voluptatem aspernatur. Doloremque repudiandae saepe sit?</p>
</body>
</html>